<app-menu>

</app-menu>


<body class="Cuerpo1" id="cuerpo" style="margin-left:50px; background-color:#212121;">
    <app-encabezado2 id="Cabeza"></app-encabezado2>
    <br><br><br><br>


    <h1>Hematologías</h1>
    <br>
    <div class="enviarm">
        <button (click)="EnviarHematologia()" id="boton_personalizado">Registrar Hematología</button>
    </div>
    <br><br><br>
    <h1>Tus Hematologías</h1>
    <div class="Buscar">
        <label id="lBusqueda" for="FechaInicio">Hematología</label>
        <select [(ngModel)]="HematologiABuscar" name="Tipo" id="Tipo">
            <option [ngValue]="item.Nombre" *ngFor="let item of TipoHemalogias ;">{{item.Nombre}}</option>                   
        </select>
        <br><br>

        <label id="linicio" for="FechaInicio">Fecha Inicio</label>
        <br>
        <input [(ngModel)]="FechaInicio" id="FechaInicio" type="date" name="Inicio">
        <br><br>
        <label id="lfinal" for="FechaFin">Fecha Final</label>
        <br>
        <input [(ngModel)]="FechaFinal" id="FechaFin" type="date" name="Fin">
        <br><br>
        <button (click)="Buscar()" id="boton_personalizado">Buscar</button>
    </div>
    <br>
    <table flex="20" id="racetimes">
        <tr id="firstrow">
            <th id="Numero">Numero</th>
            <th id="Hematologia">Hematología</th>
            <th id="Cantidad">Cantidad</th>
            <th id="Fecha">Fecha</th>
            <th></th>
        </tr>
        <tr *ngFor="let Hematologia of Hematologias;let indice=index">
            <td id="Numero1" *ngIf="indice<Pagina*5 && indice>=(Pagina-1)*5">{{indice+1}}</td>
            <td id="Hematologia1" *ngIf="indice<Pagina*5 && indice>=(Pagina-1)*5">{{ this.mensajeCorto2(Hematologia.Nombre)}}</td>
            <td id="Cantidad1" *ngIf="indice<Pagina*5 && indice>=(Pagina-1)*5">{{this.mensajeCorto2(Hematologia.Cantidad + " " +Hematologia.Unidad)}}</td>
            <td id="Fecha1" *ngIf="indice<Pagina*5 && indice>=(Pagina-1)*5">{{Hematologia.Fecha}}</td>
            <td *ngIf="indice<Pagina*5 && indice>=(Pagina-1)*5"><button (click)="mostrarMensaje(Hematologia.Nombre,Hematologia.Cantidad,Hematologia.Unidad,Hematologia.Fecha)" style="background-color: transparent; border: none; width:70%; height:70%;"><img style="display: block; height: 50px; width: 50px;" src="https://github.com/romeoaxpuac123/MisImagenes/blob/main/Diabetic/Iconos/mas.png?raw=true"></button></td>
        </tr>
        <tr>
    </table>
    <div class="paginacion" style="background-color:#212121;">
        <a>
            <button id="Anterior" (click)="disminuirPagina()" style="background-color: transparent; border: none; "><img style=" height: 50px; width: 50px;" src="https://github.com/romeoaxpuac123/MisImagenes/blob/main/Diabetic/Iconos/anterior.png?raw=true"></button>
            <span style="font-size: 30px; color:aqua">{{Pagina}}</span>
            <button id="Siguiente" (click)="aumentarPagina()" style="background-color: transparent; border: none; "><img style=" height: 50px; width: 50px;" src="https://github.com/romeoaxpuac123/MisImagenes/blob/main/Diabetic/Iconos/siguiente.png?raw=true"></button>
        </a>


    </div>




    <br><br><br><br><br>
    <app-copyright></app-copyright>
</body>